*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}
h1{
    text-align: center;
    color: rgb(136, 54, 119);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3rem;
}
.colorVioleta{
    color: rgb(202, 97, 195);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5 rem
}
p{
    text-align: center;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li{
    display:inline-block; 
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

footer{
    display:flex;
    justify-content: space-between;
}

.textoCentrado{
    display:flex;
    padding:5%
}

.tituloCentrado{
    text-align: center;
}

/*Agregando grid*/
.container {  display: grid;
    grid-template-columns: 0.4fr 10.7fr 0.1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "headerContainer headerContainer headerContainer"
      ". mainContainer ."
      "footerContainer footerContainer footerContainer";
  }
  
  .headerContainer { grid-area: headerContainer; }
  
  .mainContainer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo titulo titulo titulo"
      "div div div2 div2"
      "div div div2 div2";
    grid-area: mainContainer;
  }
  
  .titulo { grid-area: titulo; }
  
  .div { grid-area: div; }

  .div2 { grid-area: div2; }
  
  .footerContainer { grid-area: footerContainer; }

  .separador{
      margin-top: 30px;
  }

  .transicion:hover{
    transform: scale(2);
    transition: all 2s;
  }

  .box{
      width: 10px;
      height: 10px;
      margin: 15px 15px;
      border-radius: 1.5px;
  }

/*Medias para distintos dispositivos*/
  @media screen and (max-width: 768px) {
    .mainContainer { grid-template-areas:
      "titulo titulo titulo titulo"
      "div div div div"
      "div2 div2 div2 div2";
    }
  }
  @media screen and (max-width: 420px) {
    .mainContainer { grid-template-areas:
        "titulo titulo titulo titulo"
        "div div div div"
        "div2 div2 div2 div2";
      }
  }
  